.App {
  text-align: center;

}

body {
  background-image: url("https://cms.thedigitalacademy.co.za/uploads/back_Img_Url_af4c1c93dd.jpg");
  background-position: center;
  
}
.login
{

  width: 550px;
  height: 300px;
  background-image: radial-gradient(ellipse farthest-corner at 0 140%, #192d35 70%, #046865 70%);
  margin: 0px auto;
  left: 0px;
  right: 0px;
  margin-top: 15%;
  border-radius: 25px;

}
.logo
{
  width: 120px;
  height: 120px;
  border-radius: 75px;
  margin-top: -75px;

}
#email{
  color: black;
}
label
{
  font-size: 20px;
  color: white;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
input
{
  border-radius: 50px;
  width: 200px;
  height: 25px;
}